@model NewsWebApp.Models.Post

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PostType.ArticleType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostType.ArticleType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model => model.ArticleImage)" class="thumbnail" style="width:48px; height:48px;" />
        </dd>
        

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Save Post", "SaveAction", new { id = Model.PostId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Ask Question?", "Ask", new { id = Model.PostId }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to Home", "Index", new { @class = "btn btn-default" }) |
</p>
