<link href="~/Content/Style.css" rel="stylesheet" />
@model IEnumerable<NewsWebApp.Models.PostType>

@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h1>Home page</h1>
    <p class="lead">NEWS Application you can read anything you want just login to interact with posts</p>

</div>


@foreach (var item in Model)

{
    <div class="panel panel-default">
        <h1 class="panel-heading">@Html.DisplayFor(modelItem => item.ArticleType)</h1>

        <div class="row">
            @foreach (var subitem in item.Posts)
            {

                <div class="col-md-3 thumbnail" style="margin-left:32px;margin-bottom:30px; height:400px;width:250px;">
                    <img src="~/Uploads/@subitem.ArticleImage" style="width:150px;height:120px" />
                    <h3>@Html.DisplayFor(modelItem => subitem.ArticleTitle)</h3>
                    <textarea readonly style="width: 230px;resize: none; height: 130px; border: hidden;">@Html.DisplayFor(modelItem => subitem.ArticleBody)</textarea>
                    <h5> Written By @Html.DisplayFor(modelItem => subitem.User.UserName)</h5>



                    @Html.ActionLink("Show Details", "Details", new { postId = subitem.PostId }, new { @class = "btn btn-primary" })
                </div>



            }
        </div>

    </div>


}
