@model IEnumerable<NewsWebApp.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Factory.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostType.ArticleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfViewers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostType.ArticleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleBody)
            </td>
            <td>
                <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ArticleImage)" class="thumbnail" style="width:48px; height:48px;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfViewers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
            </td>
        </tr>
    }

</table>
