@model IEnumerable<NewsWebApp.Models.Post>
@using NewsWebApp.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@{ 
    ViewBag.Title = "Posts";

    ApplicationDbContext db = new ApplicationDbContext();
    var UserId = User.Identity.GetUserId();
    var user = db.Users.Where(a => a.Id == UserId).SingleOrDefault();
    if (user.UserType == "Editor")
    {

        Layout = "~/Views/Shared/_Factory.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_DashBoard.cshtml";

    } }
<h3>Posts</h3>


<table style="margin-top:20px" class="table table-striped table-bordered table-hover">
    <tr>
        <th style="width:9%">
            @Html.DisplayNameFor(model => model.PostType.ArticleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th style="width:9%">
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </th>
        <th style="width:11%">
            @Html.DisplayNameFor(model => model.ArticleImage)
        </th>
        <th style="width:11%">
            @Html.DisplayNameFor(model => model.NumberOfViewers)
        </th>
        <th style="width:11%">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th style="width:11%">
            @Html.DisplayNameFor(model => model.Like)
        </th>
        <th style="width:11%">
            @Html.DisplayNameFor(model => model.DisLike)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PostType.ArticleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleBody)
            </td>
            <td>
                <img src="~/Uploads/@Html.DisplayFor(modelItem => item.ArticleImage)" class="thumbnail" style="width:70px; height:50px; margin-left:15px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfViewers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Like) Likes<br />

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisLike) Dislikes <br />

            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.PostId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
            </td>
        </tr>
    }

</table>